<h1>
  あなたのFacebookから作った番組
  <%= image_tag "ajaxindicator.gif", :style => "display:none;", :id => "loadingimg" %>
</h1>

<p>
  このページを開いて置いておくだけ！ラジオが勝手に放送されます
</p>

<div class="row">
  <div class="span5">
    <%= content_tag "audio", nil, {:src => "/voice?text=ようこそ#{@me.name}さん", :controls => true, :autoplay => true} %>
    <pre class="prettyprint" id="textdisplay">
    </pre>
  </div>

  <div id="videoplayer" style="display:none;" class="span5">
    <div id="videoplayerTarget">
      Flash player 8+ と JavaScriptの有効化が必要でございますよ
    </div>
  </div>
</div>

<script src="http://www.google.com/jsapi" type="text/javascript"></script>
<script>
  google.load("swfobject", "2.2");
</script>

