<% content_for :head do %>
<%= render partial: "edit/head_menu" %>
<% end %>

<%# TODO ここのnoticeが出ない %>
<% unless notice.nil? %>
<div class="alert alert-success">
  <%= notice %>
</div>
<% end %>

<h1>話題を編集する</h1>

<%= render 'form' %>

<%= link_to "キャンセル", @channel, class: "btn" %>
