<% content_for :head do %>
<%= render partial: "edit/head_menu" %>
<% end %>

<h1>新しい話題を作る</h1>

<div class="alert alert-info">
  この話題における「お題」を決めて下さい。<br />
  ここで決めたお題についての音声内容を作成できるようになります。<br />
  なお、一度決めたお題は変更することができません。
</div>

<%= render 'form' %>

<%= link_to "キャンセル", {controller: :channels, action: :show, id: @topic.channel_id}, {class: "btn"} %>
