<div class="hero-unit">
  <h1>まいちゃんねるにようこそ</h1>
  <p>完全パーソナライズドなラジオ (プラス、視覚要素を少々) をお届け</p>
  <p><small>※萌え萌えマスコットキャラクター「まいちゃん」等の類はご用意しておりません</small></p>
  <fb:login-button length="long" onlogin="location.href = '<%= dashboard_path %>'" scope="user_about_me,read_stream"></fb:login-button>
</div>

<script src="http://connect.facebook.net/ja_JP/all.js"></script>
<script>
  FB.init({
  appId: '<%= Settings.fb.app_id %>',
  cookie: true,
  xfbml: true,
  oauth: true
  });
</script>
